table {
    border-collapse: collapse;
    margin: 15px 0;

}

td, th {
    /*order: ;*/
    border: none;
    padding: 5px 10px;
}
#roast-selection {
    width: 100%;
}
#searchBox {
    width: 100%;
}


body {
    /*background-color: rgb(0 164 188 );*/
    background-image: url("img/climpek.png");
}

h3 {
    font-family: "Microsoft Sans Serif";
}