table {
    border-collapse: collapse;
    margin: 15px 0;

}

td, th {
    /*order: ;*/
    border: none;
    padding: 5px 10px;
}
#roast-selection {
    width: 50%;
}
#searchBox {
    width: 50%;
}
#namePlacement {
    width: 100%;
    /*padding: 0;*/
}

body {

    /*background-color: rgb(0 164 188 );*/

    background-color: rgb(0	164	188	);

    background-image: url("img/climpek.png");
}

h3 {
    font-family: "Microsoft Sans Serif";
}
.col-6 {
    float: right;
}

