table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    /*order: ;*/
    border: 1px solid black;
    padding: 5px 10px;
}
#roast-selection {
    width: 100%;
}
#searchBox {
    width: 100%;
}
